@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0px;
    padding: 0px;
  }
  header{
    /* max-width: 1440px;
    margin: 0 auto; */
    background-color: rgba(255, 144, 14, 0.1);
  }

  nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }
  nav>ul>li{
    list-style: none;
  }
  nav>ul>li>a{
    text-decoration: none;
    font-size: 1.15rem;
    color: #424242;
    font-weight: 500;
  }
  nav>ul{
    display: flex;
    gap: 40px;
    /* padding-right: 150px; */
  }
.brand{
    font-size: 2.3rem;
    font-weight: bold;
    color: #131313;
    /* padding-left: 150px; */
}
.banner{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
}
.banner-content h1{
    font-size: 4rem;
    color: #131313;
    font-weight: bold;
    margin-top: 102px;
    margin-bottom: 30px;
}
.banner-content p{
    font-size: 1rem;
    color: #424242;
    margin-bottom: 30px;
}
.banner img{
    width: 100%;
    margin-bottom: 45px;
}
.btn-primary{
    background-color: #FF900E;
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
}
.our-features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 85px;
    padding: 60px;
    margin-bottom: 100px;
}
.our-features-content{
    padding-right: 10px;
}
.our-features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list{
    font-size: 2.5rem;
    color: #424242;
    font-weight: 500px;
}
.of-our{
    font-size: 2.5rem;
    color: #131313;
    font-weight: bold;
}
.features-text{
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF900E;
}
.content-description{
    font-size: 1rem;
    color: #727272;
    margin-top: 32px;
    margin-bottom: 40px;
}
.feature{
    display: flex;
    flex: 1;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
    margin-bottom: 100px;
}
.feature-img{
    width: 100%;
    /* height: auto; */
}
.feature-container h3{
    font-size: 2.3rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-container p{
    font-size: 1rem;
    color: #727272;
    margin-bottom: 30px;
}
.feature-container h6{
    font-size: 1.25rem;
    font-weight: 400px;
    color: #131313;
    margin-bottom: 10px;
}
.feature-card{
    padding: 3px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.experience-button{
    font-size: 1rem;
    margin-top: -300px;
    margin-left: -40px;
    height: 200px;
    width: auto;
}








@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    .brand{
        margin-bottom: 40px;
    }
    .banner-content h1{
        margin-top: 60px;
    }
    .our-features{
        flex-direction: column;
    }
    .our-features-img{
        grid-template-columns: 1fr;
    }
    
}

